@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

.showcase {
	padding: 1%;
	width: 58%;
	font-family: Roboto;
	font-weight: 300;
}

.reference {
	width: 20%;
	display: inline-block;
	float: left;
}

.recommendation {
	width: 64%;
	display: inline-block;
	float: right;
}

.arrow:hover {
	filter: none;
	transition: filter 1s ease-in-out;
}

.arrow {
	filter: grayscale(100%);
	transition: filter 1s ease-in-out;
	float: right;
	vertical-align: middle;
}

#arrowflip {
	transform: rotate(180deg);
	float: left;
}

.title {
	color: #47789d;
	background-image: url(assets/titlebar.png);
	background-repeat: repeat no-repeat;
	background-size: contain;
	text-align: left;
	padding: 5px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 120%;
}

.item {
	background: none;
	display: inline-block;
	margin: 1%;
	padding: 1%;
	width: 25%;
	vertical-align: top;
}

.item:hover {
	background: linear-gradient(rgba(200,220,255,1) 20%, rgba(210,230,255,0.5) 60%, rgba(230,240,255,0.2) 80%, rgba(255,255,255,0.1) 100%);
}

.description {
	text-decoration: none;
	color: black;
	display: block;
	font-size: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.description:hover {
	text-decoration: underline;
	color: #47789d;
}

.price {
	display: inline-block;
	font-weight: 500;
	font-size: 110%;
}

.payment {
	color: red;
	font-size: 90%;
}

.oldprice {
	font-size: 90%;
}

.carousel-wrapper {
	overflow: hidden;
	border-left: solid 1px #eee;
	padding: 0.5%;
}

.carousel {
	overflow: hidden;
	text-overflow: "";
	white-space: nowrap;
}
