/* importa fonte usada */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

/* css geral
 **/
.showcase {
	padding: 1%;
	width: 68%;
	font-family: Roboto;
	font-weight: 300;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.reference {
	width: 20% !important;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.recommendation {
	width: 78%;
	display: inline-block;
	float: right;
}

/* css do título
 **/
.title {
	color: #47789d;
	background-image: url(assets/titlebar.png);
	background-repeat: repeat no-repeat;
	background-size: contain;
	text-align: left;
	padding: 5px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 120%;
}

/* css do item
 * involve todas as coisas aninhadas em item
 **/
.item {
	background: none;
	display: inline-block;
	margin: 1%;
	padding: 1%;
	width: 25%;
	vertical-align: top;
	transition: all 1s ease-in-out;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
}

.item:hover {
	background: linear-gradient(rgba(200,220,255,1) 20%, rgba(210,230,255,0.5) 60%, rgba(230,240,255,0.2) 80%, rgba(255,255,255,0.1) 100%);
}

.description {
	text-decoration: none;
	color: black;
	display: block;
	font-size: 80%;
	overflow: hidden;
	white-space: normal !important;
	text-overflow: ellipsis;
	height: 3.9em;
	text-align: left;
}

.description:hover {
	text-decoration: underline;
	color: #47789d;
}

.price {
	display: inline-block;
	font-weight: 500;
	font-size: 110%;
}

.payment {
	color: red;
	font-size: 90%;
}

.oldprice {
	font-size: 90%;
}

/* css para as flechas de movimentação no carousel
 **/
.arrow:hover {
	filter: none;
	transition: filter 1s ease-in-out;
}

.arrow {
	filter: grayscale(100%);
	transition: filter 1s ease-in-out;
}

.arrowbox--right, .arrowbox--left {
	z-index: 1000;
	display: inline-block;
	vertical-align: middle;
	top: 30%;
	position: absolute;
	width: 5%;
}

.arrowbox--right {
	right: 0;
}

.arrowbox--left {
	transform: rotate(180deg);
	left: 0;
}

/* css para o carousel em si e decorações
 **/
.carousel-wrapper {
	overflow: hidden;
	border-left: solid 1px #eee;
	padding: 0.5%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-overflow: clip;
	white-space: nowrap;
	position: relative;
}

.carousel {
	overflow: hidden;
	width: 95%;
	transform-style: preserve-3d;
	text-align: left;
}

.whitebox--left, .whitebox--right {
	height: 100%;
	background: white;
	z-index: 500;
	filter: blur(4px);
	width: 5%;
	position: absolute;
}

.whitebox--left {
	left: 0;
}

.whitebox--right {
	right: 0;
}
